# ignore everything in the root except the "wp-content" directory and the "composer.json" file
!wp-content/
!composer.json

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/themes/twentytwenty-child/api-key.php

# ignore these plugins
wp-content/plugins/hello.php
